		<div class="znv-line" id="div{{ num_control }}">
			<div class="znv-col">
				<div class="znv-header">Cant</div>                            
				{{ form_row(attribute(form, 'cant' ~ num_control)) }}				
			</div>
			<!-- znv-list-col -->
			<div class="znv-col">
				<div class="znv-header">Descripcion</div>
				{{ form_row(attribute(form, 'idArt' ~ num_control, {'data': ''})) }}
			</div>
			<!-- znv-list-col -->			
			<div class="znv-col">
				<div class="znv-header">P Unit</div>
				{{ form_row(attribute(form, 'precio' ~ num_control)) }}							
			</div>
			<!-- znv-list-col -->
			<div class="znv-col">
				<div class="znv-header">P Total</div>
				{{ form_row(attribute(form, 'total' ~ num_control)) }}					
			</div>			
			<!-- znv-list-col -->		
			<div class="znv-col">
				<div class="znv-header"></div>
				  <button class="btn btn-danger" id="btnDelete{{ num_control }}">X</button>
			</div>		
			
		</div>    		
		<div> 
			<button id="btn{{ num_control }}" class="btn-add-article">Agregar Articulo</button>
		</div>
<script>        
	$(document).ready(function() {
		function updateTotal() {
			var cantidad = $('#art_cant{{ num_control }}').val();
			var precio = $('#art_precio{{ num_control }}').val();
			$('#art_total{{ num_control }}').val(cantidad * precio);
		}

		// Inicialización de Select2

	   $('#art_idArt{{ num_control }}').select2() //Se usa para agregar el estilo select2

		$('#art_idArt{{ num_control }}').on('change', function(e) {
			var artId = $(this).val();

			if (!artId) {
				return;
			}

			$.ajax({
				url: "{{ path('ajax_get_articulo_precio_presupuesto', { 'id': 'ART_ID' }) }}".replace('ART_ID', artId),
				type: "GET",
				success: function (response) {
					console.log(response);
					$('#art_precio{{ num_control }}').val(response.precio);
					updateTotal();
				},
				error: function (err) {
					alert("Ocurrió un error al obtener el precio del artículo...");
				}
			});
		});


		$('#art_cant{{ num_control }}, #art_precio{{ num_control }}').on('change', function(e) {
			updateTotal();
		});
	})               
    </script>                					
