{% extends 'global/layout_form.html.twig' %}

{% set titlePage = 'page.presupuestos.title.new' | trans %}
{% set menu = "presupuestos" %}
{% set pathCancel = path('presupuestos_index') %}

{% set num_control = num_control is defined ? num_control : 0 %}

{% block formContent %}
<div class="znv-half">
    {{ form_row(form.cliente) }}
</div>
{# <div class="znv-half">
    {{ form_row(form.formaPago) }}
</div> #}

{# INICIO FORM ART #}
<div id="form_art{{num_control}}" class="znv-full">
	<div class="znv-card-container">
		<!-- Card Column 100% -->
				<div class="znv-card-header">
					<div class="znv-title"></div>
				</div>
				<!-- znv-card-header -->
				<!-- Card Body  -->
				<div class="znv-card-body">
					<!-- List Container -->
					<div class="znv-list-container">
						<div class="znv-header">
							<div class="znv-col col-2">Cant</div>
							<!-- znv-list-col -->
							<div class="znv-col col-5">Descripcion</div>
							<!-- znv-list-col -->
							<div class="znv-col col-2">P Unit</div>
							<!-- znv-list-col -->
							<div class="znv-col col-2">P Total</div>
							<div class="znv-col col-1"></div>
							<!-- znv-list-col -->
						</div>
						<!-- znv-list-header -->
                        {# DIV DONDE SE RENDERIZAN LOS ARTICULOS #}
                        <div id="form_art" class="znv-full"></div>
       </div>
					<!-- znv-list-container -->
					<!-- List Footer -->
					<div class="znv-list-footer"></div>
					<!-- znv-list-footer -->

					<div class="znv-space"></div>

				
		</div>
		{# DIV PARA TOTAL #}
		<div id="divTotal" class=""></div>
		<!-- znv-card-full -->
	</div>	
	<!-- znv-card-container -->
</div>

 {# ## JQuery ## #}
    <script>
        var currentNumControl = {{ num_control }};
        console.log('NUM_CONTROL' + currentNumControl);
    </script>

    <script>        
        $(document).ready(function() {
            var currentValue = 0;

            $('#save_presupuestos_cliente').on('blur', function(e) {
                if (currentValue > 0) {
                    return;
                }

                currentValue++;

                $.ajax({
                    url: "{{ path('ajax_presupuestos_art', { 'num_control': 'NUM_CONTROL' }) }}".replace('NUM_CONTROL', currentNumControl),
                    type: "GET",
                    async: false,
                    success: function (response) {                              
                        $('#form_art').before(response);
                        // Eliminar botón previamente agregar si existiera
                        $('.btn-add-article').remove();
                        $('#form_art').before('<button id="btn' + currentNumControl + '" class="btn-add-article" data-num-control="' + currentNumControl + '">Agregar Articulo</button>');
                    },
                    error: function (err) {
                        alert("An error ocurred while loading data ...");
                    }
                });
            });

            // Escuchar los clicks en los botones de agregar artículo
            $(document).on('click', '.btn-add-article', function(e) {
                e.preventDefault();
                var currentNumControl = parseInt($(this).data('num-control'));
                var nextNumControl = currentNumControl + 1;

                $.ajax({
                    url: "{{ path('ajax_presupuestos_art', { 'num_control': 'NUM_CONTROL' }) }}".replace('NUM_CONTROL', nextNumControl),
                    type: "GET",
                    success: function(response) {
                        $('#btn' + currentNumControl).remove();
                        $('#form_art').before(response);
                        $('#form_art').before('<button id="btn' + nextNumControl + '" class="btn-add-article" data-num-control="' + nextNumControl + '">Agregar Articulo</button>');
                    },
                    error: function() {
                        alert("An error occurred while loading data...");
                    }
                });
            });

        })       
    </script>
{% endblock %}
