{% extends 'global/layout_no_user.html.twig' %}

{% block content %}
<div class="znv-access znv-greyDark">
    <div class="znv-access-header">
        <i class="znv-icon fa-lock"></i>
        <h1>{{ 'page.recover_password.title' | trans }}</h1>
    </div><!-- znv-access-header -->

    <div class="znv-access-body">
        <p>{{ 'page.recover_password.description' | trans }}</p>

        {{ form_start(form, {'action': path('user_recover_password'), 'method': 'POST',
            'attr': {'class': 'znv-form-vertical', 'novalidate': 'novalidate' }}) }}
            <div class="znv-form-group">
                <label for="{{ form.email.vars.id }}">
                    {{ form.email.vars.label | trans | upper }}
                </label>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>

            {{ form_rest(form) }}

            <div class="znv-form-action">
                <div class="znv-form-buttons">
                <button type="submit" class="znv-btn znv-dark">
                    {{ 'form.buttons.send' | trans | upper }}
                    <span class="znv-icon fa-long-arrow-right"></span>
                </button>
                </div>
            </div>
        {{ form_end(form) }}
    </div><!-- znv-access-body -->

    <div class="znv-access-footer">
        <p>{{ 'page.recover_password.return_to' | trans }} <a href="{{ path('login') }}">LOGIN</a></p>
    </div>
</div>
{% endblock %}
