{% extends 'global/layout_no_user.html.twig' %}

{% block content %}
<div class="znv-access znv-green">
    <div class="znv-access-header">
        <i class="znv-icon fa-lock"></i>
        <h1>{{ 'page.user.title.reset_password' | trans }}</h1>
    </div><!-- znv-access-header -->

    <div class="znv-access-body">
        {{ form_start(form, {'action': path('user_reset_password', {'hash' : hash}), 'method': 'POST',
            'attr': {'class': 'znv-form-vertical', 'novalidate': 'novalidate' }}) }}
        <div class="znv-form-group">
            <label for="{{ form.password.first.vars.id }}">
                {{ form.password.first.vars.label | trans | upper }}
            </label>
            {{ form_widget(form.password.first) }}
            {{ form_errors(form.password.first) }}
        </div>
        <div class="znv-form-group">
            <label for="{{ form.password.second.vars.id }}">
                {{ form.password.second.vars.label | trans | upper }}
            </label>
            {{ form_widget(form.password.second) }}
            {{ form_errors(form.password.second) }}
        </div>

        {{ form_rest(form) }}

        <div class="znv-form-action">
            <div class="znv-form-buttons">
                <button type="submit" class="znv-btn znv-dark">
                    {{ 'form.buttons.save' | trans | upper }}
                    <span class="znv-icon fa-long-arrow-right"></span>
                </button>
            </div>
        </div>

        {{ form_end(form) }}
    </div><!-- znv-access-body -->
</div>
{% endblock %}
