{% extends 'global/layout_view.html.twig' %}

{% set titlePage = "page.articulos.title.view" | trans %}
{% set menu = "articulos" %}

{% block buttonsTitle %}
{% set referer = (app.request.server.get('HTTP_REFERER') is not null ?
            app.request.server.get('HTTP_REFERER')|default('/') :
            path('articulos_index')) %}
<li>
    {{ macro_buttonReturn(referer) }}
</li>
{% endblock %}

{% block viewContent %}
<div class="znv-card-full znv-highlight">
    <div class="znv-form-group-view">
        <p>{{ 'page.articulos.labels.name'|trans }}</p>
        <h3>{{ articulo.descripcion }}</h3>
    </div>
</div>

<div class="znv-card-full znv-two-column">
  {{ macro_cardHalfView('page.articulos.labels.marca' | trans, articulo.idMarca.descripcion) }}
  {{ macro_cardHalfView('page.articulos.labels.codigo' | trans, articulo.codigo) }}
  {{ macro_cardHalfView('page.articulos.labels.ganancia' | trans, articulo.ganancia) }}
  {{ macro_cardHalfView('page.articulos.labels.precio' | trans, (articulo.precio * 1.21) | number_format(2, ',', '.')) }}
  {# {{ macro_cardHalfView('page.user.labels.status' | trans,
     (user.enabled ? 'form.buttons.enabled' : 'form.buttons.disabled')|trans) }} #}
  {# {{ macro_cardHalfView('page.user.labels.groups' | trans, user.groups | join(', ') | default(null)) }} #}
</div>

{% endblock %}
