{% extends 'base.html.twig' %}

{% block title %}Articulos{% endblock %}

{% block body %}
    <h1>Articulos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ articulo.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ articulo.codigo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ articulo.descripcion }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ articulo.precio }}</td>
            </tr>
            <tr>
                <th>Ganancia</th>
                <td>{{ articulo.ganancia }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('articulos_index') }}">back to list</a>

    <a href="{{ path('articulos_edit', {'id': articulo.id}) }}">edit</a>

    {{ include('articulos/_delete_form.html.twig') }}
{% endblock %}
