<div class="znv-line" id="div{{ num_control }}">
	<div class="znv-col">
		<div class="znv-header">Cant</div>
		{{ form_row(attribute(form, 'cant' ~ num_control)) }}
	</div>
	<div class="znv-col">
		<div class="znv-header">Descripcion</div>
		{{ form_row(attribute(form, 'idArt' ~ num_control), {'data': ''}) }}
	</div>
	<div class="znv-col">
		<div class="znv-header">P Unit</div>
		{{ form_row(attribute(form, 'precio' ~ num_control)) }}
	</div>
	<div class="znv-col">
		<div class="znv-header">P Total</div>
		{{ form_row(attribute(form, 'total' ~ num_control)) }}
	</div>
	<div class="znv-col">
		<div class="znv-header"></div>
		<button class="btn btn-danger" id="btnDelete{{ num_control }}">X</button>
	</div>
</div>

<script>
	$(document).ready(function() {
		function updateTotal() {
			var cantidad = $('#save_ventas_art_cant{{ num_control }}').val();
			var precio = $('#save_ventas_art_precio{{ num_control }}').val();
			$('#save_ventas_art_total{{ num_control }}').val(cantidad * precio);
		}

		// Inicialización de Select2
		$('#save_ventas_art_idArt{{ num_control }}').select2();

		$('#save_ventas_art_idArt{{ num_control }}').on('change', function(e) {
			var artId = $(this).val();
			if (!artId) {
				return;
			}

			$.ajax({
				url: "{{ path('ajax_get_articulo_precio', { 'id': 'ART_ID' }) }}".replace('ART_ID', artId),
				type: "GET",
				success: function (response) {
					$('#save_ventas_art_precio{{ num_control }}').val(response.precio);
					updateTotal();
				},
				error: function (err) {
					alert("Ocurrió un error al obtener el precio del artículo...");
				}
			});
		});

		// Cambiar cantidad o precio
		$('#save_ventas_art_cant{{ num_control }}, #save_ventas_art_precio{{ num_control }}').on('change', function(e) {
			updateTotal();
		});
	});
</script>
