{% extends 'global/layout_form.html.twig' %}
{% set titlePage = 'page.ventas.title.new' | trans %}
{% set menu = "ventas" %}
{% set pathCancel = path('ventas_index') %}
{% set num_control = num_control is defined ? num_control : 0 %}

{% block formContent %}
    <div class="znv-half">
        {{ form_row(form.idCliente) }}
    </div>
    <div class="znv-half">
        {{ form_row(form.formaPago) }}
    </div>

    {# INICIO FORM ART #}
    <div id="form_art_container" class="znv-full">
        <div class="znv-card-container">
            <div class="znv-card-header">
                <div class="znv-title"></div>
            </div>
            <div class="znv-card-body">
                <div class="znv-list-container">
                    <div class="znv-header">
                        <div class="znv-col col-2">Cant</div>
                        <div class="znv-col col-5">Descripcion</div>
                        <div class="znv-col col-2">P Unit</div>
                        <div class="znv-col col-2">P Total</div>
                        <div class="znv-col col-1"></div>
                    </div>
                    <div id="form_art" class="znv-full"></div>
                </div>
                <div class="znv-list-footer"></div>
                <div class="znv-space"></div>
                <div id="divTotal" class=""></div>
            </div>
        </div>
    </div>

    <!-- Inicialización de num_control en JavaScript -->
    <script>
        var currentNumControl = {{ num_control }};
        console.log('NUM_CONTROL' + currentNumControl);
    </script>

    <script>
        $(document).ready(function() {
            $('#save_ventas_idCliente').on('change', function (e) {
                $.ajax({
                    url: "{{ path('ajax_venta_art', { 'num_control': 'NUM_CONTROL' }) }}".replace('NUM_CONTROL', currentNumControl),
                    type: "GET",
                    success: function (response) {
                        $('#form_art').before(response);
                        // Eliminar botón previamente agregar si existiera
                        $('.btn-add-article').remove();
                        $('#form_art').before('<button id="btn' + currentNumControl + '" class="btn-add-article" data-num-control="' + currentNumControl + '">Agregar Articulo</button>');

                        currentNumControl++;
                    },
                    error: function (err) {
                        alert("An error occurred while loading data...");
                    }
                });
            });

            // Escuchar los clicks en los botones de agregar artículo
            $(document).on('click', '.btn-add-article', function(e) {
                e.preventDefault();
                var currentNumControl = parseInt($(this).data('num-control'));
                var nextNumControl = currentNumControl + 1;

                $.ajax({
                    url: "{{ path('ajax_venta_art', { 'num_control': 'NUM_CONTROL' }) }}".replace('NUM_CONTROL', nextNumControl),
                    type: "GET",
                    success: function(response) {
                        $('#btn' + currentNumControl).remove();
                        $('#form_art').before(response);
                        $('#form_art').before('<button id="btn' + nextNumControl + '" class="btn-add-article" data-num-control="' + nextNumControl + '">Agregar Articulo</button>');
                    },
                    error: function() {
                        alert("An error occurred while loading data...");
                    }
                });
            });

        });
    </script>
{% endblock %}
