{% if menu is not defined %}
    {% set menu = "" %}
{% endif %}

{% set rolesMenu = ['ROLE_USER_LIST', 'ROLE_GROUP_LIST', 'ROLE_ARTICULOS_LIST', 'ROLE_CLIENTES_LIST', 'ROLE_VENTAS_LIST', 'ROLE_MARCAS_LIST'] %}

{% set listMenu =  [] %}


<nav class="znv-nav">
    <div class="znv-nav-section">
        <h3>{{ 'page.menu.menu'|trans }}</h3>
        <ul>
            {{ macro_liNav((menu == "dashboard"), 'home', 'page.dashboard.title'|trans, ['ROLE_USER'], 'fa-home') }}
            {% if app.user.isSuperAdmin %}
                {{ macro_liNav((menu == "user"), 'user_list', 'page.menu.user'|trans, ['ROLE_USER_LIST'], 'fa-user') }}
                {{ macro_liNav((menu == "group"), 'group_list', 'page.menu.group'|trans, ['ROLE_GROUP_LIST'], 'fa-users') }}  
            {% endif %}
            <hr />
            {# PARA EL USUARIO COMUN #}
            {% if app.user.hasRole(rolesMenu) or app.user.isSuperAdmin %}
                <li>
                    {{ macro_liNav((menu == "clientes"), 'clientes_index', 'page.menu.clientes'|trans, ['ROLE_CLIENTES_LIST'], 'fa-list') }}
                </li>
                <li>
                    {{ macro_liNav((menu == "marcas"), 'marcas_index', 'page.menu.marcas'|trans, ['ROLE_MARCAS_LIST'], 'fa-list') }}
                </li>
                <li>
                    {{ macro_liNav((menu == "articulos"), 'articulos_index', 'page.menu.articulos'|trans, ['ROLE_ARTICULOS_LIST'], 'fa-list-alt') }}
                </li>
                <hr />
                <li>
                    {{ macro_liNav((menu == "ventas"), 'ventas_index', 'page.menu.ventas'|trans, ['ROLE_VENTAS_LIST'], 'fa fa-shopping-cart') }}
                </li>
                 <hr />
                <li>
                    {{ macro_liNav((menu == "presupuestos"), 'presupuestos_index', 'page.menu.presupuestos'|trans, ['ROLE_PRESUESTOS_LIST'], 'fa fa-shopping-cart') }}
                </li>
                <hr />               
                {{ macro_liNav((menu == "informes"), 'informes_tipo', 'page.menu.informesTipo'|trans, ['ROLE_INFORMES'], 'fa-list') }}  
            {% endif %}
        </ul>

    </div><!-- znv-nav-section -->
</nav>
