{% extends 'global/layout_view.html.twig' %}

{% set titlePage = "page.clientes.title.view" | trans %}
{% set menu = "clientes" %}

{% block buttonsTitle %}
{% set referer = (app.request.server.get('HTTP_REFERER') is not null ?
            app.request.server.get('HTTP_REFERER')|default('/') :
            path('clientes_index')) %}
<li>
    {{ macro_buttonReturn(referer) }}
</li>
{% endblock %}

{% block viewContent %}
<div class="znv-card-full znv-highlight">
    <div class="znv-form-group-view">
        <p>{{ 'page.clientes.labels.nombre'|trans }}</p>
        <h3>{{ cliente.nombre }}</h3>
    </div>
</div>

<div class="znv-card-full znv-two-column">
  {{ macro_cardHalfView('page.clientes.labels.direccion' | trans, cliente.direccion) }}
  {{ macro_cardHalfView('page.clientes.labels.telefono' | trans, cliente.telefono) }}
  {{ macro_cardHalfView('page.clientes.labels.tipoIva' | trans, cliente.tipoIva) }}
  {{ macro_cardHalfView('page.clientes.labels.documento' | trans, cliente.documento) }} 
</div>

{% endblock %}
